<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

    <div class="innerBody">

        <div class="subHeadingDiv">
            <h1 class="caption">List of all in invigilators</h1>

            <form class="uploadDiv" action="/invigilators/upload" enctype="multipart/form-data"
                  method="post">
                <div class="upload">
                    <label for="file" id="fileLabel">Select file to upload</label>
                    <input type="file" placeholder="Select file" name="file" id="file" multiple onchange="changeFileText()"
                           style="display: none;">
                </div>
                <input type="submit" value="Upload" class="uploadButton" onclick="displayLoadingScreen()">
            </form>

        </div>

    <table class="table">

            <colgroup>
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
            </colgroup>

            <thead class="tableRow">
            <tr>
                <th class="tableHeader" style="width: 0"></th>
                <th class="tableHeader" style="width: 40%">Name</th>
                <th class="tableHeader" style="width: 30%">Surname</th>
                <th class="tableHeader" style="width: 20%">Email</th>
                <th class="tableHeader" style="width: 10%">Department</th>
                <th class="tableHeader" style="width: 0">Action</th>
            </tr>

            </thead>
            <tbody>
                <tr class="tableRow" th:each="invigilator: ${invigilators}" >
                    <td th:text="${invigilator.id}" class="tableText"></td>
                    <td th:text="${invigilator.name}" class="tableText"></td>
                    <td th:text="${invigilator.surname}" class="tableText"></td>
                    <td th:text="${invigilator.email}" class="tableText"></td>
                    <td th:text="${invigilator.department}" class="tableText"></td>
                    <td class="tableBox">

                        <a href="#"
                           th:data-name="${invigilator.name}"
                           th:data-surname="${invigilator.surname}"
                           th:data-email="${invigilator.email}"
                           th:data-department="${invigilator.department}"
                           th:onclick="|openEditDialog(${invigilator.id},this.getAttribute('data-name'),this.getAttribute('data-surname'),this.getAttribute('data-email'),this.getAttribute('data-department'))|"
                           target="frame"
                           class="optionLink">
                            <div class="action">
                                <img src="/svg/edit_icon.svg">
                                <h1>Edit</h1>
                            </div>
                        </a>



                        <a th:href="|/invigilators/delete/${invigilator.id}|"
                           target="frame"
                           class="optionLink">
                            <div class="actionDelete">
                                <img src="/svg/delete_icon.svg">
                            </div>
                        </a>

                    </td>
                </tr>
            </tbody>
    </table>
    <dialog id="dialog" class="dialog" style="visibility: collapse">

        <form name="submitForm" id="submitForm" class="form" method="post">

            <h1 class="formHeader">Create new invigilator</h1>
            <label class="label" for="name">Name</label>
            <input class="formInput" type="text" id="name" name="name" required><br><br>
            <label  class="label" for="surname">Surname</label>
            <input  class="formInput"  type="text" id="surname" name="surname" required><br><br>
            <label class="label" for="email">Email</label>
            <input class="formInput" type="email" id="email" name="email" required><br><br>
            <label class="label" for="department">Department</label>
            <input class="formInput" type="text" id="department" name="department" required><br><br>
    
            <div class="dialogDiv">
                <a href="/invigilators">
                    <button class="outlineButton" type="button">Cancel</button>
                </a>
                <input  style="grid-column: 2" class="button" type="submit" value="Submit">
            </div>
    
    
        </form>


    </dialog>

        <dialog id="loadingDialog" class="dialog" style="visibility: collapse">

            <div class="loadingDiv">

                <img src="/images/loading.gif">

                <h1>Please wait</h1>

            </div>

        </dialog>

    </div>

<script>

    function openEditDialog(id,name,surname,email,department){


            document.submitForm.action="/invigilators/update/" + id;
            document.getElementById('name').value=name;
            document.getElementById('surname').value=surname;
            document.getElementById('email').value=email;
            document.getElementById('department').value=department;

            document.getElementById('dialog').style.visibility='visible';


    }

    function changeFileText() {

        document.getElementById('fileLabel').innerHTML = document.getElementById('file').files.item(0).name;

    }

    function displayLoadingScreen(){
        document.getElementById('loadingDialog').style.visibility = 'visible';
    }

</script>
</body>
</html>