<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invigilator timetable generator</title>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

<div class="body">

    <div class="heading">
        <img src="/images/hit_logo.png">
        <h1>Admin</h1>
    </div>

    <div class="optionsContainer">

        <H2 class="optionHeader">Dashboard</H2>

        <a href="/home"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/timetable_icon.svg">
                <button>Home</button>
            </div>
        </a>

        <H2 class="optionHeader">Files</H2>

        <a href="/exams"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/exams_icon.svg">
                <button>Exams</button>
            </div>
        </a>
        <a href="/invigilators"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/invigilators_icon.svg">
                <button>Invigilators</button>
            </div>
        </a>
        <a href="/in_attendances"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/in_attendance_icon.svg">
                <button>Supporting staff</button>
            </div>
        </a>

        <a href="/administrators"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/administrators_icon.svg">
                <button>Administrators</button>
            </div>
        </a>
        <a href="/chief_invigilators"
           target="frame"
           class="optionLink">
            <div class="option">
                <img src="/svg/chief_invigilator_icon.svg">
                <button>Chief invigilators</button>
            </div>
        </a>


    </div>

    <div>

        <div class="tabContainer">
            <h2 class="h2">Exam staff assignment application</h2>
        </div>

        <div class="displayContainer">

            <iframe name="frame"
                    style="border: none"
                    width="100%"
                    height="100%"
                    allowTransparency="true"
                    src="/home">

            </iframe>

        </div>
    </div>

</div>

</body>
</html>